.container {
  display: flex;
  margin: 30px;
  align-items: flex-start;
  justify-content: center;
}

.card {
  padding: 10px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
}

.details{
  max-width: 607px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}

.episodes {
  font-weight: 500;
  font-size: 20px;
}

.ul {
  flex-direction: column;
  align-items: baseline;
  list-style: none;
}

.ul li {
  display: flex;
  font-size: 14px;
  line-height: 30px;
  text-align: initial;
  font-weight: 500;
  list-style-type: none;
  border-bottom: 1px solid #c6c6c6;

  & a {
    text-decoration: none;
  }
}

.ul > li:nth-child(2n + 2) > div {
  background-color: #f9f9f9;
}

.tr {
  display: table-row;
}

.tabletitle {
  padding-left: 7px;
  display: table-cell;
  width: 400px;
}

.tabledate {
  display: table-cell;
  width: 100px;
}

.tableduration {
  display: table-cell;
  width: 100px;
  text-align: center;
}

.episodeTitle{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}


.episodeDescription{
  font-style: italic;
  font-size: 14px;
  margin-bottom: 20px;
}

.episodeAudio{
  width: 100%;
  & audio{
    width: 100%;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  }

}
